JavaPractise/HealthManager/classes/*.class
out/.class
out/production/JavaProductPractise/*.class
out/production/JavaProductPractise/ui/panels/*.class
out/production/JavaProductPractise/ui/*.class
out/production/JavaProductPractise/model/*.class